.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-family: $body-font;
  }
  p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}


.mr-sm-2 {
    background-color: white;
    border-radius: 0px;
    height: 39px;
    color: black;
    margin: 5px;
}


@media(max-width: 770px) {
.mr-sm-2 {
  width: 100%;
  margin: 0px;
 }
}

@media(min-width: 770px) {
.form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


// .sr-only {
//   width: 100%;
// }

// // .mr-sm-2 {
// //   width: 100%;
// //   align-items: none;
// //   justify-content: none;
// // }

// .form-inline {
//   display: flex;

// }


}
